html, body{
  padding: 0;
  margin: 0;
}
body{
  /* background-color: rgb(133, 133, 133) */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(zoro.jpg);
}
.navBar{
  padding-right: 40px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
a{
  padding: 25px;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium';
  letter-spacing: 1px;
  font-size: 20px;
}
a:hover{
  color: aquamarine;
}
.title h3{
  font-family: 'Franklin Gothic Medium';
  font-size: 22px;
  position: relative;
  right: 820px;
  color: aliceblue;
}
img{
  position: relative;
  right: 850px;
  height: 50px;
  width: 50px;
}